/* CSS Document create by tw 2015-12-8*/
body{font-size:13px;font-family:"微软雅黑";background-color:#fff;margin:0;}
div{width:100%;height:auto;overflow:hidden;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
-ms-box-sizing: border-box;box-sizing: border-box;}
div.tw_half_w{width:50%;}div.tw_half_min{width:20%;}div.tw_half_max{width:80%;}
div.tw_f_l{float:left;}
div.tw_f_r{float:right;}
.btn_light_tw{display:block;text-align:center;background-color:#5BB85D;color:#fff;}
.btn_light_tw:hover{display:block;text-align:center;background-color:#6cc96c;color:#fff;cursor:pointer;}
.block_radius_min{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
.block_radius_max{-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius:8px;}
.block_center{margin:auto;}
.txt_center{text-align:center;}
/*
a:hover 必须位于 a:link 和 a:visited 之后！！a:active 必须位于 a:hover 之后！！
*/
a:link{color:#5BB85D;text-decoration:none;}
a:visited{color:#5BB85D;text-decoration:none;}
a:hover{color:#6cc96c;text-decoration:underline;}
a:active{color:#6cc96c;text-decoration:none;}
a:link.a_blue{color:#A8DBF0;}
.txt_red{color:#ff3300;}
/*对话*/
#msgbox{position:absolute;width:100px;height:45px;line-height:45px;text-align:center;color:#fff;font-size:14px;
font-weight:bold;left:0;top:60px;opacity:.3;z-index:101;}
#curmsg{width:30%;margin:auto;background-color:#F76162;}
#curmsg_suc{width:30%;margin:auto;background-color:#04BDF3;}
#succbox{position:absolute;width:100px;height:45px;line-height:45px;text-align:center;color:#fff;font-size:13px;
font-weight:bold;left:0;top:0;opacity:.9;z-index:102;}
#htmlBox{position:absolute;z-index:101;top:0;left:0;width:100px;height:auto;overflow:hidden;min-height:50px;}
.closeBtn{cursor:hand;}
.tip{position:relative;display:block;overflow:visible;}
.tip_box{position: absolute;z-index: 9;width: 68px;height: 30px;color: #fff;text-align: center;font-size: 12px;
background-image: url(../img/tip.png);background-repeat: no-repeat;background-position: left 3px;}
.inpic{position:relative;}
.selectedGray{position:absolute;width:100px;height:100px;top:0;left:0;background-color:#000;opacity:.3;z-index:2;}
.selectedIcon{position:absolute;width:100px;height:100px;top:0;left:0;background-color:#000;
background-image: url(../img/icon_selected_white.png);background-repeat: no-repeat;background-position: center center;z-index:3;}
