/* CSS Document create by tw 2015-12-8*/
body{font-size:13px;font-family:"微软雅黑";background-color:#E7E8EC;margin:0;}
div{width:100%;height:auto;overflow:hidden;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;
-ms-box-sizing: border-box;box-sizing: border-box;}
div.half_w_tw{width:50%;}
div.f_l_tw{float:left;}
div.f_r_tw{float:right;}